
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.App {
  text-align: center;
}

.errorGif{
  height:120px;
  width:120px;
}

.hidden{
  display:none;
}

.btn-close{
position:absolute;
right:1%;
top:3%
}

#spamModal .modal-dialog{
width:70%;
margin:auto;
}

.modal{
  overflow:hidden;
}

@media (max-width: 400px) {
.question{
  font-size:20px !important;
}
.card-header{
  font-size:18px !important;
  padding: 3% 0% !important;
}
.logo{
top:1% !important;
}
.logo img{  
  height: 20px !important;
  width: 140px !important;
}
}

@media (max-width: 365px) {
  .question{
    font-size:16px !important;
  }
  .card-header{
    font-size:14px !important;
    padding: 3% 0% !important;
  }
  .logo{
  top:1% !important;
  }
  .logo img{  
    height: 16px !important;
    width: 120px !important;
  }
  }